<!DOCTYPE html>
<html>
	<head>
		<title><%= article.title %> - <%= htmltitle %></title>
		<link rel="stylesheet" type="text/css" href="/css/css.css">
	</head>
	<body>
		<!-- If you want a header, delete this comment and put it here
		<header>
		</header>
		-->
		<nav>
			<ul>
				<!-- Navigation links template
					<li><a href="LINK">TEXT</a></li>
				-->
				<li><a href="/">Home</a></li>
			</ul>
		</nav>
		<main>
			<article>
				<h1><%= article.title %></h1>
				<%= article.author %> - <%= article.date %>
				<br>
				<%- article.rendered %>
			</article>
		</main>
		<!-- If you want a footer, delete this comment and put it here
		<footer>
		</footer>
		-->
	</body>
</html>

