<!DOCTYPE html>
<html>
	<head>
		<title><%= article.title %> - <%= htmltitle %></title>
		<% css.forEach(el => { %>
			<link rel="stylesheet" type="text/css" href="/css/<%= el %>">
		<% }); %>
	</head>
	<body>
		<% if (typeof header !== "undefined") { %>
			<header>
				<%- header %>
			</header>
		<% } %>
		<nav>
			<ul>
				<% navlinks.forEach(el => { %>
					<li><a href=<%= el.link %>><%= el.text %></a></li>
				<% }); %>
			</ul>
		</nav>
		<main>
			<article>
				<h1><%= article.title %></h1>
				<%= article.author %> - <%= article.date %>
				<br>
				<%- article.rendered %>
			</article>
		</main>
		<% if (typeof footer !== "undefined") { %>
			<footer>
				<%- footer %>
			</footer>
		<% } %>
	</body>
</html>
			
