<!DOCTYPE html>
<html>
	<head>
		<title>Scms dashboard</title>
		<style>
			.article0 {
				margin: 5px;
				border: 1px solid darkred;
			}
			.article1 {
				margin: 5px;
				border: 1px solid lightgrey;
			}
			.button {
				color: blue;
			}
			#realbutton {
				display: none;
			}
		</style>
	</head>
	<body>
		<h1>Scms dashboard</h1>
		Upload an image/images:
		<form action="/app/upload" enctype="multipart/form-data" method="post">
			<input type="file" name="file" id="file" multiple>
			<button type="button" onClick="upload()">Upload</button>
			<input type="submit" id="realbutton">
		</form><br>
		Uploaded images:
		<ul>
			<% images.forEach(el => { %>
				<li><%= el %> | <button onClick="deleteimage('<%= el %>')">Delete</button></li>
			<% }) %>
		</ul>
		<a href="editor.html">New article</a>
		<p>These are your current articles:</p>
		<div id="articles">
			<% articles.forEach(el => { %>
				<div class="article<%= el.published %>" id="<%= el.id %>">
					<a href="/app/article/<%= el.id %>"><b><%= el.title %></b></a> (<%= el.date %>) -
					<a href="editeditor.html?id=<%= el.id %>">Edit</a> | <a class="button" href="#" onClick="delet(this)">Delete</a>
					<% if (!el.published) { %>
						| <b><a class="button" href="#" onClick="publish(this)">Publish</a></b>
					<% } %>
				</div>
			<% }) %>
		</div>
		<script>
			const images = JSON.parse(`<%-JSON.stringify(images)%>`);
			function upload() {
				let duplicate = false;
				let files = Array.from(document.getElementById("file").files).map(el => el.name);
				if (files.length < 1) {
					alert("No files present!");
					return;
				}
				files.forEach((el, i) => {
					if (images.includes(el) || files.indexOf(el) !== i) duplicate = true;
				});
				if (duplicate) alert("One of the files you are trying to upload is already on the server!");
				else document.getElementById("realbutton").click();
			}
			function publish(el) {
				if (!confirm("Are you sure you would like to publish this article?")) return;
				postid("/app/publish", el.parentNode.parentNode.id).then(() => {
					alert("Article successfully published");
					window.location.reload();
				}).catch(text => {
					alert("There was a problem in publishing your article: " + text);
				});
			}
			function delet(el) {
				if (!confirm("Are you sure you would like to delete this article?")) return;
				postid("/app/delete", el.parentNode.id).then(() => {
					alert("Article successfully deleted");
					window.location.reload();
				}).catch(text => {
					alert("There was a problem deleting your article: " + text);
				});
			}
			function deleteimage(image) {
				if (!confirm("Are you sure you would like to delete this image?")) return;
				fetch("/app/deleteimage", {
					method: "POST",
					body: JSON.stringify({image}),
					credentials: "same-origin",
					headers: {"Content-Type": "application/json"}
				}).then(r => {
					if (r.redirected) {
						window.location.href = "/app/login.html";
						return "You are not logged in.";
					}
					return r.text();
				}).then(r => {
					if (r === "true") window.location.reload();
					else alert("There was a problem deleting your image: " + text);
				});
			}
			function postid(url, id) {
				return new Promise((resolve, reject) => {
					fetch(url, {
						method: "POST",
						body: JSON.stringify({id}),
						credentials: "same-origin",
						headers: {"Content-Type": "application/json"}
					}).then(r => {
						if (r.redirected) {
							window.location.href = "/app/login.html";
							reject("You are not logged in.");
						}
						return r.text();
					}).then(r => {
						if (r === "true") resolve();
						else reject(r);
					});
				});
			}
		</script>
	</body>
</html>
