<!DOCTYPE html>
<html>
	<head>
		<title>Scms dashboard</title>
		<style>
			.article0 {
				margin: 5px;
				border: 1px solid darkred;
			}
			.article1 {
				margin: 5px;
				border: 1px solid lightgrey;
			}
			.button {
				color: blue;
			}
		</style>
	</head>
	<body>
		<h1>Scms dashboard</h1>
		<a href="editor.html">New article</a>
		<p>These are your current articles:</p>
		<div id="articles">
			<% articles.forEach(el => { %>
				<div class="article<%= el.published %>" id="<%= el.id %>">
					<a href="/app/article/<%= el.id %>"><b><%= el.title %></b></a> (<%= el.date %>) -
					<a href="editeditor.html?id=<%= el.id %>">Edit</a> | <a class="button" href="#" onClick="delet(this)">Delete</a>
					<% if (!el.published) { %>
						| <b><a class="button" href="#" onClick="publish(this)">Publish</a></b>
					<% } %>
				</div>
			<% }) %>
		</div>
		<script>
			function publish(el) {
				fetch("/app/publish", {
					method: "POST",
					body: JSON.stringify({
						id: el.parentNode.parentNode.id
					}),
					credentials: "same-origin",
					headers: {"Content-Type": "application/json"}
				}).then(r => r.text()).then(r => {
					if (r === "true") {
						alert("Article successfully published");
						window.location.reload();
					} else alert("There was a problem publishing this article");
				});
			}
			function delet(el) {
				if (!confirm("Are you sure you would like to delete this article?")) return;
				fetch("/app/delete", {
					method: "POST",
					body: JSON.stringify({
						id: el.parentNode.id
					}),
					credentials: "same-origin",
					headers: {"Content-Type": "application/json"}
				}).then(r => r.text()).then(r => {
					if (r === "true") {
						alert("Article successfully deleted");
						window.location.reload();
					} else alert("There was a problem deleting this article");
				});
			}
		</script>
	</body>
</html>
