<!DOCTYPE html>
<html>
	<head>
		<title><%= htmltitle %></title>
	</head>
	<body>
		<% if (typeof header !== "undefined") { %>
			<header>
				<%- header %>
			</header>
		<% } %>
		<nav>
			<ul>
				<% navlinks.forEach(el => { %>
					<li><a href=<%= el.link %>><%= el.text %></a></li>
				<% }); %>
			</ul>
		</nav>
		<main>
			<article>
				<%- article %>
			</article>
		</main>
		<% if (typeof footer !== "undefined") { %>
			<footer>
				<%- footer %>
			</footer>
		<% } %>
	</body>
</html>
			
