<!DOCTYPE html>
<html>
	<head>
		<title><%= htmltitle %></title>
		<% css.forEach(el => { %>
			<link rel="stylesheet" type="text/css" href="/css/<%= el %>">
		<% }); %>
	</head>
	<body>
		<% if (typeof header !== "undefined") { %>
			<header>
				<%- header %>
			</header>
		<% } %>
		<nav>
			<ul>
				<% navlinks.forEach(el => { %>
					<li><a href=<%= el.link %>><%= el.text %></a></li>
				<% }); %>
			</ul>
		</nav>
		<main>
			<% articles.forEach(el => {%>
				<article>
					<h1><%= el.title %></h1>
					<%= el.author %> - <%= el.date %>
					<br>
					<%- el.article %>
				</article>
			<% }); %>
		</main>
		<% if (typeof footer !== "undefined") { %>
			<footer>
				<%- footer %>
			</footer>
		<% } %>
	</body>
</html>
